@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background: hsl(230, 17%, 14%);
    transition: background 0.3s ease;
    font-family: 'Roboto', sans-serif;
}

body.light-mode {
    background: hsl(0, 0%, 100%);
}